.users {
    width: 300px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    gap: 5px;
}

.texts h1 {
    color: black;
    font-size: 1.2em;
}

.texts p {
    font-size: 0.8em;
}

