.search {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: transparent;
    color: gray;
}

.search input:focus {
    border: transparent;
    background-color: transparent;
    color: gray;
    border-image-width: 0;
}